<h2  style="padding-top: 30px;"><b>education</b></h2>

<table style="padding-top: 20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/uoft.jpg" alt="uoft" width="140" height="140">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>University of Toronto</strong></p>
      <p1><a href="https://www.engineering.utoronto.ca/">BASc. in Engineering</a> | 2023-2028 (expected)
      <br><strong>Industrial Engineering Major, Artificial Intelligence Minor</strong>
      <br>Activities: Academic Outreach Director at IEEE UofT, VP Student Academics at SEA UofT.
      </p1>
    </td>
  </tr>
</tbody></table>