<h2 style="padding-top: 30px;"><b>researchprojects</b></h2>
<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <img src="assets/img/power_systems.png" alt="Power systems project" width="160">
            </td>
            <td width="75%" valign="middle">
            <p1>
            <strong>Research in Safe and Constrained Reinforcement Learning</strong>
            <br>[Research Project] @ <strong><a href="https://lids.mit.edu/">Donti Lab (MIT LIDS)</a></strong>.
            <br><b>In progress</b>. Developing new machine learning techniques to address challenges of safety and complex constraints in sequential decision-making, with potential applications in energy systems.</p1>
            </td>
        </tr>
    </tbody>
</table>

<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <img src="assets/img/mechanistic_interpretability.png" alt="Mechanistic Interpretability" width="160">
            </td>
            <td width="75%" valign="middle">
            <p1>
            <strong>Interpreting Internal Representations of Transformer Models</strong>
            <br>[Research Project] @ <strong><a href="https://www.mathematics.utoronto.ca/">UofT Math Directed Reading Program</a></strong>. With Daniel S., Kiarash S., Vincent C., and Charles S.
            <br><br><b>In progress</b>. Investigating the use of sparse autoencoders to interpret internal representations and features learned by large language models.</p1>
            </td>
        </tr>
    </tbody>
</table>


<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <video src="assets/img/implicito.mp4" width="160">Your browser does not support the video tag.</video>
            </td>
            <td width="75%" valign="middle">
            <p1>
                <strong>Implicit Occupancy and Flow Fields</strong>
                <br>[Research Project] @ <strong><a href="https://rvl.cs.toronto.edu/">RVL (UofT)</a></strong>.
                <br>Implementation of the algorithm proposed in the <a href="https://arxiv.org/abs/2308.01471">Implicit Occupancy and Flow Fields for Perception and Prediction in Self-Driving</a> paper for mobile robotics.<br>
            </p1>
            </td>
        </tr>
    </tbody>
</table>

<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <img src="assets/img/pdsi.png" alt="PDSI" width="160">
            </td>
            <td width="75%" valign="middle">
            <p1>
                <strong>Comparison of Regression Algorithms in Multivariable Drought Modeling and Analysis</strong>
                <br>[Research Project]</strong> Bronze medal at Canada Wide Science Fair 2023. Oral presentation at the 23rd AMS Conference on Artificial Intelligence for Environmental Science.
                <br>[<a href="https://partner.projectboard.world/ysc/project/comparison-of-regression-algorithms-in-multivariable-drought-modeling-and-analysis">Link to project</a>]
                <br>Used and compared classical machine learning algorithms to study the relationship between drought and various climate factors in diverse regions around the world.<br>
            </p1>
            </td>
        </tr>
    </tbody>
</table>

<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <img src="assets/img/ndvi.png" alt="NDVI" width="160">
            </td>
            <td width="75%" valign="middle">
            <p1>
                <strong>Multiple Factor Regression Analysis of Vegetation Changes and Land Degradation in Drylands</strong>
                <br>[Research Project]</strong> Third place at the International Science and Engineering Fair 2022, Earth and Environmental Sciences category. Poster presentation at the 23rd AMS Student Conference.
                <br>[<a href="https://abstracts.societyforscience.org/Home/FullAbstract?ISEFYears=0%2C&Category=Any%20Category&AllAbstracts=True&FairCountry=Any%20Country&FairState=Any%20State&ProjectId=22796">Link to project</a>]
                <br>Used multiple regression to understand the relationship between different environmental factors (like climate, human activity, and soil properties) and changes in vegetation cover and land degradation in dryland regions.<br>
            </p1>
            </td>
        </tr>
    </tbody>
</table>

<h2 style="padding-top: 30px;"><b>other projects!</b></h2>
<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <img src="assets/img/light_pollution_map.png" alt="Light pollution map" width="160">
            </td>
            <td width="75%" valign="middle">
            <p1>
            <strong>Light Pollution Map</strong>
            <br>[Internship Project] @ <strong><a href="https://rocketinnovationstudio.ca/">Rocket Innovation Studio</a></strong>.
            <br>[<a href="/">Demo coming soon!</a>]
            <br>AI-powered interactive map to help cities reduce light pollution and improve the quality of life for residents. Integration of an AI assistant to provide actionable insights and recommendations for reducing light pollution. Exportable reports for city officials to make informed decisions.</p1>
            </td>
        </tr>
    </tbody>
</table>

<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <img src="assets/img/ieee_edgeai.png" alt="Edge AI project" width="160">
            </td>
            <td width="75%" valign="middle">
            <p1>
                <strong>Edge AI for Real-Time Audio Recognition: A Voice-Controlled Sound System</strong>
                <br>[Club Project] @ <strong><a href="https://ieee.utoronto.ca/">IEEE UofT</a></strong>. With Adam O., Katherine Y., Grace S., and Athavan B.
                <br>[<a href="/">Demo coming soon!</a>]
                <br>Co-developed an edge AI tool for real-time sound recognition. The device recognizes speech and plays different sounds based on the user's command. Implemented and deployed a real-time Whisper model on a Raspberry Pi with embeddings to match the user's command to the correct sound.<br>
            </p1>
            </td>
        </tr>
    </tbody>
</table>


<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>  
        <tr>
            <td style="padding-right: 20px; width:25%;vertical-align:middle">
            <img src="assets/img/gesture_detection.png" alt="Gesture detectionproject" width="160">
            </td>
            <td width="75%" valign="middle">
            <p1>
                <strong>Gesture detection app</strong>
                <br>[Club Project] @ <strong><a href="https://ieee.utoronto.ca/">IEEE UofT</a></strong>. With Athavan B. and Scott H.
                <br>[<a href="/">Demo coming soon!</a>]
                <br>Co-developed a gesture detection tool that plays different sounds based on the user's gesture. Implemented a real-time model to match the user's gesture to the correct sound.<br>
            </p1>
            </td>
        </tr>
    </tbody>
</table>